body{
  font-size: 16px;
  color: #000;
  font-family: $font-family-main;
}

a{
  transition: all .3s ease;
  color: $brand-color;
  font-weight: $font-weight-bold;

  &:hover,
  &:focus{
    color: $brand-color;
    text-decoration: underline;
  }
}

.btn-main{
  display: inline-block;
  color: #fff;
  font-size: 22px;
  font-weight: $font-weight-bold;
  font-style: italic;
  background-color: $brand-color;
  border:1px solid $brand-color-alt;
  padding: 10px 40px;

  &:hover,
  &:focus{
    color: #fff;
    background-color: $brand-color-alt;
    text-decoration:none;
  }

  &.btn-small{
    font-size: 16px;
    padding: 5px 40px;
  }
}

button:focus{
  outline: none;
}

.overlay{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index: 1;
  background-color: rgba(0,0,0,.5);

  &.light-overlay{
    background-color: rgba(0,0,0,.3);
  }
}

.article-header{
  margin-bottom:25px;

  h1{
    font-size:40px;
    font-weight: $font-weight-bold;
    margin-bottom: 0;
    color: $gray;
  }

  h2,
  h1.front-page-title{
    font-size: 30px;
    font-weight: $font-weight-bold;
    margin-bottom:0;
    color: $gray;
  }

  .icon-header{
    position:relative;

    &::before{
      content:"";
      display: block;
      margin-bottom: 25px;
      background-image: url(images/sprites.png);
      background-repeat: no-repeat;
    }

    &.icon-chisel::before{
      background-position: -30px 0px;
      height: 28px;
      width: 330px;
    }
    &.icon-handsaw::before{
      background-position: 0px -34px;
      height: 68px;
      width: 323px;
    }
    &.icon-planer::before{
      background-position: 0 -109px;
      height: 142px;
      width: 203px;
    }
    &.icon-ohio::before{
      background-position: -333px -34px;
      height: 169px;
      width: 153px;
    }
    &.icon-two-hand-saw::before{
      background-position: 0px -259px;
      height: 72px;
      width: 344px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .subtitle{
    font-size:22px;
    text-transform: uppercase;
    color: $brand-color;
    font-weight: $font-weight-medium;
  }
}

.entry-content{
  margin-top:40px;
  margin-bottom:40px;

  .article-header{
    text-align: center;
    max-width: 730px;
    margin-left:auto;
    margin-right: auto;
  }
}

.img-stylized-background{
  position:relative;

  img{
    position: relative;
    z-index: 9;
    margin-top: 20px;
  }

  .border-square{
    position: absolute;
    height: 75%;
    width: 60%;
    bottom: -5%;
    left: 13%;
    border: 10px solid $brand-color;
    z-index:3;
  }

  .filled-square{
    position: absolute;
    height: 86%;
    width: 49%;
    top: -7%;
    right: 13%;
    background-color: $gray;
    z-index: 1;
  }
}

.two-column-content{
  @include media-breakpoint-up(md){
    column-count: 2;
    column-gap: 40px;
  }
}

.locations{
  .location{
    border-bottom: 2px solid $gray;
    padding: 0px 15px 25px 25px;
    margin-bottom: 25px;

    &:last-child{
      border-bottom: none;
    }

    h3{
      font-size: 22px;
      font-weight: $font-weight-medium;
      color: $brand-color;
      text-transform: uppercase;
    }

    p{
      margin-bottom:5px;
    }

    .btn-main{
      margin-top: 10px;
    }
  }
}

#contact-form{
  background-color: #f2f2f2;
  padding-top:40px;
  padding-bottom:40px;

  h2{
    font-size:30px;
    font-weight: $font-weight-bold;
    text-align: center;
  }

  .contact-form{
    max-width: 675px;
    margin-left: auto;
    margin-right: auto;

    .btn-main{
      margin-top:25px;
    }
  }
}

.form-control{
  border-radius: 0;
}

.options-section{
  h2{
    font-size:30px;
    font-weight: $font-weight-bold;
    margin-bottom:0;
    color: $gray;
  } 
  
  .light-note{
    color: $light-gray;
  }
}

.options{
  a.option{
    position:relative;
    display:block;
    height:155px;
    width:155px;
    margin:15px;

    .option-caption{
      opacity: 0;
      background-color: rgba(0,0,0,.5);
      position:absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left:0;
      transition: opacity .3s ease;

      .lightbox-opener{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 25px;
        height:25px;

        &::before{
          content:"";
          position:absolute;
          bottom: 0;
          left:0;
          height:15px;
          width:15px;
          border-left: 1px solid #fff;
          border-bottom: 1px solid #fff;
        }

        &::after{
          content:"";
          position:absolute;
          top:0;
          right:0;
          height:15px;
          width:15px;
          border-top:1px solid #fff;
          border-right:1px solid #fff;
        }
      }

      .option-name{
        text-align:center;
        position:absolute;
        width:100%;
        bottom:5px;
        color: #fff;
        font-weight: $font-weight-normal;
      }
    }

    &:hover{
      .option-caption{
        opacity: 1;
      }
    }
  }
}

#have-questions{
  background-color: #f2f2f2;
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;

  article{
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
  }
}

#customer-gallery{

  .gallery-img{
    display:block;
    width:240px;
    height:240px;
    margin:25px 15px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
    position:relative;

    span{
      position:absolute;
      bottom:-25px;
    }
  }
}