$font-family-main: "Raleway", sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$brand-color: #9ebe3e;
$brand-color-alt: #3b2314;
$gray: #4d4d4d;
$dark-gray: #333;
$light-gray: #b3b3b3;